%h1 Listing questions

%table.table
  %tr
    %th Text
    %th Order
    %th
    %th

  - @questions.each do |question|
    %tr
      %td= question.text
      %td= question.order
      %td= link_to 'Edit', edit_application_question_path(@application, question)
      %td= link_to 'Destroy', [@application, question], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_application_question_path(@application)

= link_to "Back to Application", @application