%h1 Listing metrics

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @metrics.each do |metric|
    %tr
      %td= metric.name
      %td= metric.description
      %td= link_to 'Edit', edit_application_metric_path(@application, metric)
      %td= link_to 'Destroy', [@application, metric], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Metric', new_application_metric_path(@application)
= link_to "Back to Application", @application
