= simple_form_for(@response) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: "Company Name", required: true
    = f.input :email, required: true


  = f.simple_fields_for :answers, @response.answers do |answer_form|
    = answer_form.input :text, label: answer_form.object.question.text
    = answer_form.hidden_field :question_id

  .form-actions
    = f.button :submit, "Submit Application"
