%h1 Listing responses

%table.table
  %tr
    %th Name
    %th Email
    %th Submitted
    %th Last edited
    %th
    - if current_user.admin?
      %th
      %th

  - @responses.each do |response|
    %tr
      %td= response.name
      %td= response.email
      %td= response.created_at.to_s(:short)
      %td= response.updated_at.to_s(:short)
      %td= link_to "Score #{response.total_score}", score_response_path(response)
      - if current_user.admin?
        %td= link_to 'Edit', edit_response_path(response)
        %td= link_to 'Destroy', response, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Response', new_response_path
