%p#notice= notice

%h1 Application Information

%p Thank you for completing your application.  You can review your answers below and make changes. 

%p
  %b You can bookmark this page and return to edit at any time

%p
  %b Name:
  = @response.name
%p
  %b Email:
  = @response.email

- @response.answers.question_order.each do |answer|
  %p 
    %b= answer.question.text
    = answer.text

= link_to 'Edit this response', edit_response_path(@response)
