%p#notice= notice

%h1 Application Information

- if @response.created_at > 15.minutes.ago
  .alert.alert-success
    %p Thank you for completing your application.  You can review your answers below and make changes. 

- if current_user.nil? || current_user.admin?
  %blockquote
    %b You can bookmark this url and return to edit at any time before submissions are closed.
    .url= link_to "Edit my response", edit_response_path(@response, only_path: false), target: :blank

%hr
.container
  %dl
    %dt Name:
    %dd= @response.name

    %dt Email:
    %dd= @response.email

    %br
    - @response.answers.question_order.each do |answer|
      %dt= "#{answer.question[:order]}. #{answer.question.text}"
      %dd= answer.text.blank? ? raw("&nbsp;") : answer.text
